<?xml version="1.0" encoding="utf-8" ?>
<CacheConfig>
  <CacheProviderItems>
    <CacheProviderItem name="LocalCacheProvider" type="SuperProducer.Core.Cache.LocalCacheProvider, SuperProducer.Core.Cache" desc="本地缓存(System.Web.Caching.HttpRuntime.Cache)" />
  </CacheProviderItems>
  <CacheConfigItems>
    <CacheConfigItem providerName="LocalCacheProvider" desc="全局缓存" priority="0" keyRegex=".*" moduleRegex=".*"  minitus="30" isAbsoluteExpiration="true" />
    <CacheConfigItem providerName="LocalCacheProvider" desc="LoginInfo缓存" priority="1" keyRegex="LoginInfo.*" moduleRegex=".*" minitus="10" isAbsoluteExpiration="true" />
  </CacheConfigItems>
</CacheConfig>