<?xml version="1.0" encoding="utf-8" ?>
<DaoConfig>
  <Main>Data Source=172.16.1.110;Initial Catalog=SuperTheaterAud;Persist Security Info=True;User ID=sa;Password=123456..</Main>
  <Res>Data Source=172.16.1.110;Initial Catalog=SuperTheaterAud_Res;Persist Security Info=True;User ID=sa;Password=123456..</Res>
  <Log>Data Source=172.16.1.110;Initial Catalog=SuperTheaterAud_Log;Persist Security Info=True;User ID=sa;Password=123456..</Log>
</DaoConfig>