<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <logger name="WebExceptionLog">
    <level value="ALL" />
    <appender-ref ref="WebException" />
  </logger>

  <logger name="ServiceExceptionLog">
    <level value="ALL" />
    <appender-ref ref="ServiceException" />
  </logger>

  <logger name="ClientRequestLog">
    <level value="ALL" />
    <appender-ref ref="ClientRequest" />
  </logger>


  <appender name="WebException" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="{connectionString}" />
    <commandText value="INSERT INTO [dbo].[SystemExceptionLog] ([Host], [Thread], [Level], [Logger], [Class], [Method], [Arguments], [Content], [Exception]) VALUES (@Host, @Thread, @Level, @Logger, @Class, @Method, @Arguments, @Content, @Exception)" />
    <parameter>
      <parameterName value="@Host" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Class" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{Class}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Method" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{Method}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Arguments" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{Arguments}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Content" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{Content}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Exception" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>

  <appender name="ServiceException" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="{connectionString}" />
    <commandText value="INSERT INTO [dbo].[BusinessExceptionLog] ([Rank], [Class], [Method], [Arguments], [Content], [Exception], [IsNotify], [NotifyType], [PlatformType]) VALUES (@Rank, @Class, @Method, @Arguments, @Content, @Exception, @IsNotify, @NotifyType, @PlatformType)" />
    <parameter>
      <parameterName value="@Rank" />
      <dbType value="Byte" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{Rank}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Class" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{Class}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Method" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{Method}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Arguments" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{Arguments}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Content" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{Content}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Exception" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@IsNotify" />
      <dbType value="Boolean" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{IsNotify}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@NotifyType" />
      <dbType value="Byte" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{NotifyType}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@PlatformType" />
      <dbType value="Byte" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{PlatformType}" />
      </layout>
    </parameter>
  </appender>

  <appender name="ClientRequest" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="{connectionString}" />
    <commandText value="INSERT INTO [dbo].[ClientRequestLog] ([Url], [QueryParas], [FormParas], [HeaderParas], [IPAddress], [UserID], [PlatformType]) VALUES (@Url, @QueryParas, @FormParas, @HeaderParas, @IPAddress, @UserID, @PlatformType)" />
    <parameter>
      <parameterName value="@Url" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{Url}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@QueryParas" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{QueryParas}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@FormParas" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{FormParas}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@HeaderParas" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{HeaderParas}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@IPAddress" />
      <dbType value="String" />
      <size value="64" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{IPAddress}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@UserID" />
      <dbType value="String" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{UserID}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@PlatformType" />
      <dbType value="Byte" />
      <layout type="SuperProducer.Core.Log.CustomConverter">
        <conversionPattern value="%Property{PlatformType}" />
      </layout>
    </parameter>
  </appender>
</log4net>

