<?xml version="1.0" encoding="utf-8" ?>
<SiteConfig>
  <MainSiteDomain>超级剧场</MainSiteDomain>
  <ServiceTel>400-8888-666</ServiceTel>
  <PlatformType>1</PlatformType>
  <CookiePrefix>super</CookiePrefix>
  <CookieExpiresMinute>5</CookieExpiresMinute>
  <LoginTokenExpiresDays>7</LoginTokenExpiresDays>
  <IgnoreAuthorizationUrls></IgnoreAuthorizationUrls>
  <!-- 测试注释 -->
  <ClientRequestWriteLog>true</ClientRequestWriteLog>
</SiteConfig>