<?xml version="1.0" encoding="utf-8" ?>
<WcfServiceConfig>
  <WcfServiceItems>
    <WcfServiceItem name="登录服务" binding="BasicHttpBinding" uri="http://www.baidu.com/login.svc" contractType="SuperProducer.Core.Cache.LocalCacheProvider, SuperProducer.Core.Cache" desc="百度登录服务" />
  </WcfServiceItems>
</WcfServiceConfig>